@charset "UTF-8";
// stylelint-disable at-rule-no-vendor-prefix, declaration-no-important, property-no-vendor-prefix
// Copyright 2019 SME Texaplex Virtual Chapter Contributors. All Rights Reserved.
// See LICENSE in the repository root for license information.
//
// Forked from the Twitter Bootstrap project (https://github.com/twbs/bootstrap)
// Twitter Bootstrap is available under The MIT License (MIT)
// =============================================================================

////
/// Normalize HTML elements across browsers and style common HTML tags.
////

// Document
// --------
//
// 1. Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.
// 2. Change the default font family in all browsers.
// 3. Correct the line height in all browsers.
// 4. Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.
// 5. Setting @viewport causes scrollbars to overlap content in IE11 and Edge, so
//    we force a non-overlapping, non-auto-hiding scrollbar to counteract.
// 6. Change the default tap highlight to be completely transparent in iOS.

*,
*::before,
*::after {
  box-sizing: border-box; // 1
}

html {
  font-family: sans-serif; // 2
  line-height: 1.15; // 3
  -webkit-text-size-adjust: 100%; // 4
  -ms-overflow-style: scrollbar; // 5
  -webkit-tap-highlight-color: rgba(#000, 0); // 6
}

// IE10+ doesn't honor `<meta name="viewport">` in some cases.
@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

// Suppress the focus outline on elements that cannot be accessed via keyboard.
// This prevents an unwanted focus outline from appearing around elements that
// might still respond to pointer events.
//
// Credit: https://github.com/suitcss/base
[tabindex="-1"]:focus {
  outline: 0 !important;
}

body {
  max-width: 99rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 1rem auto;
  // stylelint-disable value-list-comma-newline-after, value-list-comma-space-after
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  // stylelint-enable value-list-comma-newline-after, value-list-comma-space-after
  font-size: 16px;
  line-height: 1.5;
  color: $text-01;
  background: $ui-background;
  text-rendering: optimizeLegibility;
}

img {
  max-width: 100%;
}

hr {
  border: none;
  border-top: 2px solid $ui-04;
}

// For Medium displays (i.e. tablets).
@media (min-width: 42rem) {
  body {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media (min-width: 99rem) {
  body {
    max-width: 100%;
  }
}
