@charset "UTF-8";
// Copyright 2019 SME Texaplex Virtual Chapter Contributors. All Rights Reserved.
// See LICENSE in the repository root for license information.
// =============================================================================

////
/// Typographic sizes and styles.
////

h1 {
  font-size: 2.25rem;
  line-height: 2.75rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.625rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.375rem;
}

h5 {
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: $text-01;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
th {
  font-weight: 700;
}
